.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #3ddd50;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #198754;
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  margin-top: auto;
  width: 100%;
  bottom: 0;
}

header, nav {
  width: 100%;
}

.container {
  max-width: 100%;
}

body {
  overflow-x: hidden;
  background-color: #198754;
}